<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mi Veterinaria</title>
</head>
<body>
    <div>
        
            <p>
                Clínica Veterinaria
                HTML5 is the latest version of HTML and XHTML.
                The HTML Standard defines a single language that can be written in HTML and XML.
                It attempts to solve issues found in previous iterations of HTML and addresses
                the needs of Web Applications, an area previously not adequately covered by HTML.
            </p>
        
        
    </div>
</body>
</html>


